.nav-bar-container {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
}

/* general page layout for resources pages (header, body, footer) */
.resources-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* strangely the flex grow to keep the footer at the bottom works with empty main tags but not filled ones*/
main {
  flex: 1;
  flex-grow: 1;
  padding: 30px 20px 20px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

footer {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  width: 100%;
  bottom: 0;
}

/*Navbar to hold both navbars*/
.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

/*Logo size and position*/
.logo img {
  padding-top: 8px;
  height: 100px;
  width: auto;
  display: flex;
}

/* find-or-give-aid styles for header navigation */
.find-or-give-aid {
  gap: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(228, 240, 245);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 2; /* Ensures navbar stays above other elements */
}

.find-or-give-aid a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.nav-bar {
  position: flex;
  gap: 15px;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 0px;
  background-color: rgb(228, 240, 245);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1; /* Ensures navbar stays above other elements */
}

.nav-bar a {
  color: black;
  text-decoration: none;
  font-size: 16px;
}

.welcome-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 20px;
}

.mission-div {
  display: flex;
  justify-content: space-evenly;
  max-width: 700px;
  align-items: center;
  padding: 15px 20px;
  margin-bottom: 20px;
  background-color: rgb(228, 240, 245);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.needAid-div {
  display: flex;
  justify-content: center;
  /*max-width: 700px;*/
  align-items: center;
  padding: 15px 20px;
  margin-bottom: 20px;
  background-color: rgb(228, 240, 245);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* FIND AID AND GIVE AID BUTTON STYLE*/
.btn-container {
  display: flex;
  gap: 100px;
}

.btn-container a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#findaid-btn,
#giveaid-btn {
  background-color: rgb(228, 240, 245);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3 ease; /*smooths hover effect*/
  display: inline-block;
  position: relative;
  font-size: 16px;
}

#findaid-btn:hover,
#giveaid-btn:hover {
  background-color: #4caf50;
  box-shadow: 4px 6px 8px rgba(17, 131, 89, 0.3);
}

/*BUTTON END */

/* table element styles for resource pages */
.resource-content {
  margin: 0 auto;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
  word-wrap: break-word;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}
